<h1>My Events</h1>
<div>
    <h3>Created Events</h3>
    <div class="row">
        <%= render @events %>
    </div>
</div>

<div>
    <h3>Attended Events</h3>
    <div class="row">
        <%= render current_user.attended_events %>
    </div>
</div>