// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-img-top {
  height: 250px !important;
}
#hero {
  height: 500px;
  background: linear-gradient(
      90deg,
      rgba(170, 221, 119, 0.425),
      rgba(13, 109, 253, 0.404)
    ),
    url(hero-image.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    color: rgb(255, 204, 77);
  }
}

.card-body {
  h4,
  h5,
  h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

#jumbotron {
  background-image: url(08.jpeg), url(01.jpeg), url(03.jpeg), url(04.jpeg),
    url(05.jpeg), url(06.jpeg);
  background-position: 0 0, 20% 0, 40% 0, 60% 0, 80% 0, 100% 0;
  background-size: contain, contain, contain;
  background-repeat: no-repeat;
}
